@import 'tailwindcss';

@import '@skeletonlabs/skeleton'; 
@import '@skeletonlabs/skeleton-svelte'; 
@import '@skeletonlabs/skeleton/themes/vintage'; 

@import '../penastheme';

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));