.wrapper.svelte-l8gcuk{width:100vw;display:flex;place-content:center}main.svelte-l8gcuk{padding:1rem;max-width:min(72ch,100%);display:flex;flex-direction:column;place-items:center}h1.svelte-l8gcuk{text-align:center}
