.wrapper.svelte-1ix0gvc{width:100vw;display:flex;place-content:center}main.svelte-1ix0gvc{padding:1rem;max-width:min(72ch,100%);display:flex;flex-direction:column;place-items:center}h1.svelte-1ix0gvc{text-align:center}
